@model Ressource
@{
    ViewData["Title"] = "Details";
    int idCitoyenConnected = 1; //TODO: Récupérer le citoyen connecté

    bool citoyenLikedThisRessource = Model.CitoyenVoted.Where(x => x.ID == idCitoyenConnected).Any();
}
@section Styles{
    <link href="~/css/ressource-list.css" rel="stylesheet" />
    <link href="~/css/like-button.css" rel="stylesheet" />
    <link href="~/css/ressource.css" rel="stylesheet" />
    <link href="~/lib/simditor/styles/simditor.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/simditor/lib/module.js"></script>
    <script src="~/lib/simditor/lib/hotkeys.js"></script>
    <script src="~/lib/simditor/lib/uploader.js"></script>
    <script src="~/lib/simditor/lib/simditor.js"></script>
    <script src="~/js/like-button.js"></script>
    <script>
        $(() => {
            var editor = new Simditor({
                textarea: $('#editor')
                //optional options
            });
        })

    </script>
}
<h1>@Model.Titre</h1>

<input type="hidden" id="idCitoyenConnected" value="@idCitoyenConnected">

<div class="informations">
    <div>
        <span>Publié</span>
        <strong>@Model.UpdatedAt.ToUniversalTime().Humanize()</strong>
    </div>
    <div>
        <span>Dernière activité</span>
        <strong>@Model.UpdatedAt.ToUniversalTime().Humanize()</strong>
    </div>
    <div>
        <span>Nombre de vues</span>
        <strong>@Model.Vues</strong>
    </div>
</div>
<div class="ressource-box">
    <div class="ressource-social">
        <div class="like">
            <div data-type-like="ressource" data-id="@Model.ID" class='button heart  @(citoyenLikedThisRessource ? "active" : "")'></div>
            <span class="nb-likes">@Model.CitoyenVoted.Count</span>
        </div>
    </div>
    <div class="ressource-content">
        <p class="ressource-text">
            @Html.Raw(Model.Contenu)
        </p>
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="badge badge-primary">@tag.Nom</span>
            }

        </div>
        <div class="auteur">
            <div class="ressource-auteur-info">
                <span>Rédigé le @Model.CreatedAt.ToString("dd MMMM yyyy à hh:mm")</span>
            </div>
            <div class="auteur-info">
                <img width="25" height="25" src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg" alt="Alternate Text" />
                <a href="#">@Model.Citoyen.Prenom @Model.Citoyen.Prenom</a>
            </div>

        </div>
    </div>
</div>
<div class="row filtres-commentaire">
    <div class="col">
        <h5> @Model.Commentaires.Count réponse@(Model.Commentaires.Count > 1 ? "s" : "")</h5>
    </div>

</div>
<div class="commentaires">
    @foreach (var commentaire in Model.Commentaires)
    {
        bool citoyenLikedThisComment = commentaire.CitoyenVoted.Where(x => x.ID == idCitoyenConnected).Any();

        <div class="ressource-box">
            <div class="ressource-social">
                <div class="like">
                    <div data-type-like="commentaire" data-id="@commentaire.ID" class='button heart @(citoyenLikedThisComment ? "active" : "")'></div>
                    <span class="nb-likes">@commentaire.CitoyenVoted.Count</span>
                </div>
            </div>
            <div class="ressource-content">
                <p class="ressource-text">
                    
                    @Html.Raw(@commentaire.Contenu)
                </p>
                <div class="auteur">
                    <div class="ressource-auteur-info">
                        <span>Réponse le @commentaire.CreatedAt.ToString("dd MMMM yyyy à hh:mm")</span>
                    </div>
                    <div class="auteur-info">
                        <img width="25" height="25" src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg" alt="Alternate Text" />
                        <a href="#">@commentaire.Citoyen.Nom</a>
                    </div>

                </div>
            </div>
        </div>
    }

</div>
<form method="post" asp-action="CommenterRessource">
    <input type="hidden" name="RessourceID" value="@Model.ID">
    <input type="hidden" name="CitoyenID" value="@idCitoyenConnected">
    <div class="reponse">
        <h3>Commenter cette ressource</h3>
        <textarea name="Contenu" required id="editor"></textarea>
        <input type="submit" value="Envoyer votre commentaire" class="btn btn-primary mt-3">
    </div>
</form>
