@model Ressource 
@{
    ViewData["Title"] = "Details";
}
@section Styles{
    <link href="~/css/ressource-list.css" rel="stylesheet" />
    <link href="~/css/like-button.css" rel="stylesheet" />
    <link href="~/css/ressource.css" rel="stylesheet" />
    <link href="~/lib/simditor/styles/simditor.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/simditor/lib/module.js"></script>
    <script src="~/lib/simditor/lib/hotkeys.js"></script>
    <script src="~/lib/simditor/lib/uploader.js"></script>
    <script src="~/lib/simditor/lib/simditor.js"></script>
    <script src="~/js/like-button.js"></script>
    <script>
        $(() => {
            var editor = new Simditor({
                textarea: $('#editor')
                //optional options
            });
        })

    </script>
}
<h1>@Model.Titre</h1>

<div class="informations">
    <div>
        <span>Publié</span>
        <strong>@Model.UpdatedAt.ToUniversalTime().Humanize()</strong>
    </div>
    <div>
        <span>Dernière activité</span>
        <strong>@Model.UpdatedAt.ToUniversalTime().Humanize()</strong>
    </div>
    <div>
        <span>Nombre de vues</span>
        <strong>@Model.Vues</strong>
    </div>
</div>
<div class="ressource-box">
    <div class="ressource-social">
        <div class="like">
            <div class='button heart'></div>
            <span class="nb-likes">@Model.Votes</span>
        </div>
    </div>
    <div class="ressource-content" >
        <p class="ressource-text">
            @Model.Contenu
        </p>
        <div class="tags">
            <span class="badge badge-primary">Santé</span>
            <span class="badge badge-primary">Information</span>
            <span class="badge badge-primary">Prévention</span>
        </div>
        <div class="auteur">
            <div class="ressource-auteur-info">
                <span>Rédigé le @Model.CreatedAt.ToString("dd MMMM yyyy à hh:mm")</span>
            </div>
            <div class="auteur-info">
                <img width="25" height="25" src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg" alt="Alternate Text" />
                <a href="#">@Model.Citoyen.Prenom @Model.Citoyen.Prenom</a>
            </div>
            
        </div>
    </div>
</div>
<div class="commentaires">
    <div class="ressource-box">
        <div class="ressource-social">
            <div class="like">
                <div class='button heart'></div>
                <span class="nb-likes">100</span>
            </div>
        </div>
        <div class="ressource-content">
            <p class="ressource-text">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.
            </p>
            <div class="auteur">
                <div class="ressource-auteur-info">
                    <span>Réponse le 29 mars 2021 10:57</span>
                </div>
                <div class="auteur-info">
                    <img width="25" height="25" src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg" alt="Alternate Text" />
                    <a href="#">Valentin Beaury</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="reponse">
    <h3>Commenter cette ressource</h3>
    <textarea id="editor"></textarea>
</div>