@model List<Ressource>
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/css/like-button.css" rel="stylesheet" />
    <link href="~/css/ressource-list.css" rel="stylesheet" />
    <link href="~/css/like-button.css" rel="stylesheet" />
}
@section Scripts{
}
<div class="title-box">
    <h1>Dernières ressources</h1>
    <div class="title-box-filters">
        <span class="nb-ressources">@Model.Count ressources</span>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Récents</button>
            <button type="button" class="btn btn-primary">Actifs</button>
            <button type="button" class="btn btn-primary">Sans réponse</button>
        </div>
    </div>
</div>

<div class="ressource-list">
    @foreach (var ressource in Model)
    {
        <div class="ressource-box">
            <div class="ressource-social">
                <div class="like">
                    <div class='button active heart'></div>
                    <span class="nb-likes">@ressource.Votes</span>
                </div>
                <div class="comment">
                    <i class="fas fa-comment-alt"></i>
                    <span class="nb-likes">100</span>
                </div>
            </div>
            <div class="ressource-content">
                <h3 class="ressource-title"><a asp-action="Details" asp-route-id="@ressource.ID">@ressource.Titre</a></h3>
                <p class="ressource-text" style="height: 50px;">
                    @ressource.Contenu
                </p>
                <div class="tags">
                    <span class="badge badge-primary">Santé</span>
                    <span class="badge badge-primary">Information</span>
                    <span class="badge badge-primary">Prévention</span>
                </div>
            </div>
        </div>
    }

</div>
