@model List<Ressource>
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/ressource-list.css" rel="stylesheet" />
}

<div class="posts-container">
    <table>
        <thead class="table-header">
            <tr>
                <th></th>
                <th>TITRE/AUTEUR</th>
                <th>RÉPONSES/AFFICHAGES</th>
                <th class="last-message">DERNIER MESSAGE</th>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var ressource in Model)
            {
                <tr>
                    <td class="logo">
                        <i class="fa fa-file"></i>
                    </td>
                    <td class="titre-td">
                        <div class="titre">
                            <span><a href="#">@ressource.Titre</a></span>
                            <span class="auteur">
                                @ressource.Citoyen.Pseudo,
                                @ressource.CreatedAt.ToString("dd/MM/yyyy, hh:mm")
                            </span>
                        </div>
                    </td>
                    <td class="stats-td">
                        <div class="stats">
                            <span>Réponses: @ressource.Commentaires.Count</span>
                            <span>Affichages: @ressource.Vues</span>
                        </div>

                    </td>
                    <td class="last-message">
                        @ressource.Commentaires.LastOrDefault()?.CreatedAt.ToLocalTime().Humanize()  
                        <span style="color:forestgreen">@ressource.Commentaires.LastOrDefault()?.CreatedAt.ToString("hh:mm")</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>